





#header {
	text-align: center;
	font-size: 40px;
}







.companiesGrid{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.company {
	display: flex;
	background-color: rgb(240, 240, 240);
	width: 800px;
	padding: 20px;

	margin: 20px;
}

.company img {
	height: 300px;
	width: 300px;
	margin-right: 20px;
}



.description {
	text-align: center;
	margin-right: 20px;
}

.citation {
  text-align: center;
}
