#header {
	text-align: center;
	font-size: 40px;	
}











.gamesGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 100%;
	margin: auto;
	margin-bottom: 100px;

}


.game {
    position: relative;
    text-align: center;

}


.game img {
	width: 330px;
	height: 330px;
	padding: 10px;
	transition-duration: 200ms;
	transition-property: transform;
	object-fit: cover;
}


.game img:hover {
	transform: scale(1.02);
}






.description {
  opacity: 0;
  position: absolute;
/*  pointer-events: none;*/
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  background-color: rgba(0,0,0,.6);
  border-radius: 5px;
  transition: 200ms; 
}



.description h3 {
	font-size: 50px;
}

.description p {
	font-size: 30px;
}

a {
  color: white;
}

a:hover {
  color: white;
}





