





#header {
	text-align: center;
	font-size: 40px;
	padding-bottom: 30px;	
}




.col-8 {
}

.col-8 h3 {
	margin-left: 30px;
}

.col-4{
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
