<!DOCTYPE html>
<html>

<head>
	<title>About</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel = "stylesheet" href = "../static/css/about.css">

	<!--<script type="text/javascript" src="../static/js/about.js"></script>-->

</head>



<body>

{% extends "navbar.html" %}
{% block content %}

	<div id = "header">About Us</div>
	<div class = "peopleGrid">

		<div class = "person">
			<img src = "../static/images/temp.jpeg">
			<div class = "description"><h2>Brandon Ford</h2><p>Vestibulum varius consequat diam, vitae euismod dui commodo non. In ac hendrerit elit. Suspendisse luctus id urna in sodales. Aliquam tempor mi congue diam lobortis, in luctus sapien semper. Nulla at quam ac purus convallis vulputate. Etiam at pulvinar odio. Quisque ut lacus porttitor sem blandit mattis. Nunc interdum mollis risus, et suscipit felis consequat at. Donec sed nunc ut libero volutpat porta id eget metus. Nullam at mi tellus. Quisque et maximus risus.</p>
				<button type="button" class="btn btn-primary">Read More</button>
			</div>
		</div>

		<div class = "person">
			<img src = "../static/images/temp.jpeg">
			<div class = "description"><h2>William Kwon</h2><p>Vestibulum varius consequat diam, vitae euismod dui commodo non. In ac hendrerit elit. Suspendisse luctus id urna in sodales. Aliquam tempor mi congue diam lobortis, in luctus sapien semper. Nulla at quam ac purus convallis vulputate. Etiam at pulvinar odio. Quisque ut lacus porttitor sem blandit mattis. Nunc interdum mollis risus, et suscipit felis consequat at. Donec sed nunc ut libero volutpat porta id eget metus. Nullam at mi tellus. Quisque et maximus risus.</p>
				<button type="button" class="btn btn-primary">Read More</button>
			</div>
		</div>

		<div class = "person">
			<img src = "../static/images/temp.jpeg">
			<div class = "description"><h2>Madalyn Marabella</h2><p>Vestibulum varius consequat diam, vitae euismod dui commodo non. In ac hendrerit elit. Suspendisse luctus id urna in sodales. Aliquam tempor mi congue diam lobortis, in luctus sapien semper. Nulla at quam ac purus convallis vulputate. Etiam at pulvinar odio. Quisque ut lacus porttitor sem blandit mattis. Nunc interdum mollis risus, et suscipit felis consequat at. Donec sed nunc ut libero volutpat porta id eget metus. Nullam at mi tellus. Quisque et maximus risus.</p>
				<button type="button" class="btn btn-primary">Read More</button>
			</div>
		</div>

		<div class = "person">
			<img src = "../static/images/temp.jpeg">
			<div class = "description"><h2>Alex Palacios</h2><p>Vestibulum varius consequat diam, vitae euismod dui commodo non. In ac hendrerit elit. Suspendisse luctus id urna in sodales. Aliquam tempor mi congue diam lobortis, in luctus sapien semper. Nulla at quam ac purus convallis vulputate. Etiam at pulvinar odio. Quisque ut lacus porttitor sem blandit mattis. Nunc interdum mollis risus, et suscipit felis consequat at. Donec sed nunc ut libero volutpat porta id eget metus. Nullam at mi tellus. Quisque et maximus risus.</p>
				<button type="button" class="btn btn-primary">Read More</button>
			</div>
		</div>

		<div class = "person">
			<img src = "../static/images/temp.jpeg">
			<div class = "description"><h2>Noah Placke</h2><p>Vestibulum varius consequat diam, vitae euismod dui commodo non. In ac hendrerit elit. Suspendisse luctus id urna in sodales. Aliquam tempor mi congue diam lobortis, in luctus sapien semper. Nulla at quam ac purus convallis vulputate. Etiam at pulvinar odio. Quisque ut lacus porttitor sem blandit mattis. Nunc interdum mollis risus, et suscipit felis consequat at. Donec sed nunc ut libero volutpat porta id eget metus. Nullam at mi tellus. Quisque et maximus risus.</p>
				<button type="button" class="btn btn-primary">Read More</button>
			</div>
		</div>
	</div>

{% endblock %}
</body>
</html>


























