<!DOCTYPE html>
<html>

<head>

	<title>Games</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<link rel = "stylesheet" href = "../static/css/games.css">
	<script type="text/javascript" src="../static/js/games.js"></script>

</head>

<body>

{% extends "navbar.html" %}
{% block content %}

	<div id = "header">
		Games
	</div>

	<div class = "gamesGrid">

		<div id = "super_smash_bros" class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
      <div>
				<img src = "../static/images/supersmashbros.jpg"/>
				<div class="description"><h3>{{games[0].title}}</h3>
				  <h5><a href = "{{url_for('companies')}}#nintendo">Nintendo</a></h5><h5><a href = "{{url_for('genres')}}#fighting">Fighting</a></h5>
          <h5>Rated Everyone 10+</h5>
				</div>
      </div>
		</div>

		<div id = "grand_theft_auto_v" class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
      <div>
				<img src = "../static/images/gtav.jpg"/>
				<div class="description">
          <h3>Grand Theft Auto V</h3>
				  <h5><a href = "{{url_for('companies')}}#rockstar">Rockstar Games</a></h5><h5><a href = "{{url_for('genres')}}#shooter">Shooter</a></h5>
          <h5>Rated Mature</h5>
				</div>
			</div>
		</div>

		<div id = "overwatch" class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<div>
				<img src = "../static/images/overwatch.jpeg"/>
				<div class="description"><h3>Overwatch</h3>
				<h5><a href = "{{url_for('companies')}}#blizzard">Blizzard Entertainment</a></h5><h5><a href = "{{url_for('genres')}}#shooter">Shooter</a></h5>
        <h5>Rated 12+</h5>
				</div>
			</div>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
      <div>
				<img src = "../static/images/fortnite.jpg"/>
				<div class="description"><h3>Fortnite</h3>
				<h5>Epic Games</h5><h5>Shooter</h5>
        <h5>Rated 12+</h5>
				</div>
			</div>
		</div>

		<div id="world_of_warcraft" class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
      <div>
				<img src = "../static/images/wow.jpg"/>
				<div class="description">
          <h3>World of Warcraft</h3>
				  <h5><a href = "{{url_for('companies')}}#blizzard">Blizzard Entertainment</a></h5><h5>MMO/RPG</h5>
          <h5>Rated Teen</h5>
				</div>
			</div>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<a href = "#">
				<img src = "../static/images/cod.jpg"/>
				<div class="description"><h3>Call of Duty: Black Ops 4</h3>
				<h5>Treyarch</h5><h5>Shooter</h5>
        <h5>Rated Mature</h5>
				</div>
			</a>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<a href = "#">
				<img src = "../static/images/botw.jpg"/>
				<div class="description"><h4>The Legend of Zelda: Breath of the Wild</h4>
				<h5>Nintendo</h5><h5>Survival/RPG</h5>
        <h5>Rated 12+</h5>
				</div>
			</a>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<a href = "#">
				<img src = "../static/images/mariokart.jpg"/>
				<div class="description"><h3>Mario Kart 8 Deluxe</h3>
				<h5>Nintendo</h5><h5>Racing</h5>
        <h5>Rated Everyone 10+</h5>
				</div>
			</a>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<a href = "#">
				<img src = "../static/images/hearthstone.jpg"/>
				<div class="description"><h3>Hearthstone</h3>
				<h5>Blizzard Entertainment</h5><h5>Strategy</h5>
        <h5>Rated 12+</h5>
				</div>
			</a>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<a href = "#">
				<img src = "../static/images/reddead.jpeg"/>
				<div class="description"><h3>Red Dead Redemption 2</h3>
				<h5>Rockstar Games</h5><h5>Shooter/RPG</h5>
        <h5>Rated Adults Only</h5>
				</div>
			</a>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<a href = "#">
				<img src = "../static/images/splatoon.jpg"/>
				<div class="description"><h3>Splatoon 2</h3>
				<h5>Nintendo</h5><h5>Shooter</h5>
        <h5>Rated 12+</h5>
				</div>
			</a>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<a href = "#">
				<img src = "../static/images/uncharted.png"/>
				<div class="description"><h3>Uncharted 4</h3>
				<h5>Naughty Dog</h5><h5>Adventure/Shooter</h5>
        <h5>Rated 12+</h5>
				</div>
			</a>
		</div>

		<div id = "super_mario_odyssey" class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<div>
				<img src = "../static/images/odyssey.jpg"/>
				<div class="description"><h3>Super Mario Odyssey</h3>
				<h5>Nintendo</h5><h5>Platformer</h5>
        <h5>Rated Everyone 10+</h5>
				</div>
			</div>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<a href = "#">
				<img src = "../static/images/spider-man.jpg"/>
				<div class="description"><h3>Spider-Man</h3>
				<h5>Insomniac Games</h5><h5>Adventure</h5>
        <h5>Rated 12+</h5>
				</div>
			</a>
		</div>

		<div class = "game" onmouseover = "displayDescription(event)" onmouseout = "hideDescription(event)">
			<a href = "#">
				<img src = "../static/images/godofwar.jpg"/>
				<div class="description"><h3>God of War</h3>
				<h5>Santa Monica Studio</h5><h5>Adventure</h5>
        <h5>Rated 12+</h5>
				</div>
			</a>
		</div>

	</div>










{% endblock %}

</body>
</html>


























