<!doctype html>
<html>
    <head>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('index')}}">Video Game Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">


          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('genres')}}">Genres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('games')}}">Games</a>
            </li>	      
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('companies')}}">Companies</a>
            </li>
          </ul>


          <ul class = "navbar-nav navbar-right">
            <li class = "nav-item">
              <a class = "nav-link" href = "{{url_for('about')}}">About</a>
            </li>
          </ul>



          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      {% block content %}{% endblock %}

    </body>
</html>
